<ion-view ng-controller="LevCtrl" title="1 Descripción del Inmueble" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraFull">
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 1.1 : DESCRIPCIÓN GENERAL DEL INMUEBLE -->
                <ion-item class="item-divider item-calm">1.1 Descripción general del Inmueble</ion-item>
                <label class="item item-input item-stacked-label">
                    <span class="label ">Descripcion general</span>
                    <textarea rows="10" placeholder="Descripcion general" ng-model="data.DescripcionGeneral" name="DescripcionGeneral" ></textarea>
                </label>
                <!-- card -->
                <div class="card">                    
                    <ion-item class="item-divider item-calm">Diagrama de los inmuebles, sus flujos y funcionamiento actual (Por planta, indicando accesos, número de cuerpos, y flujos).</ion-item> 
                    <div class="item item-text-wrap item-stable">
                        <div class="card"> 
                            <ion-item class="item-divider item-dark">Diagrama</ion-item> 
                            <label class="item item-input item-select">
                                <div class="input-label" >
                                   Subir diagrama 
                                </div>
                                 <input type="file" ng-model="data.FL_Diagrama" name="FL_Diagrama" />
                            </label> 
                            <label class="item item-input item-stacked-label">
                                <span class="label ">Descripción</span>
                                <textarea placeholder="Descripción" ng-model="data.Descripcion" rows="10" name="Descripcion" ></textarea>
                            </label>
                            <ion-item class="item-divider item-light">
                            <button class="button button-small button-outline button-positive icon-right ion-eye">Ver detalle</button>
                            <button class="button button-small button-outline button-assertive icon-right ion-close">Borrar</button></ion-item> 
                        </div>  
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>
                </div>
                <!--./card -->
                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('1_2')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>