<ion-view ng-controller="LevCtrl" title="{{menuRight[11].title}}" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraFull">
        <div class="list card">
            <div class="item item-dark item-icon-right">
            <i class="icon ion-clipboard"></i>
            {{menuRight[11].title}}</div>
            <div class="item item-body item-stable">
            <!-- pendientes:kcho -->
                <div>
                    <p>Características de las Instalaciones</p>
                </div>                
            </div>
        </div>
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 2 : NOTAS -->
                
                <!-- card 1 -->
                <div class="list card">
                    <ion-item class="item item-divider">
                        Notas
                    </ion-item>
                    <label class="item item-input">
                        <textarea placeholder="Notas del anexo" ng-model="data.Notas" rows="10" name="Notas" ></textarea>
                    </label>                   
                </div>
                <!--./card 1 -->
                
                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('a_2_2')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>