<ion-view ng-controller="LevCtrl" title="{{menuRight[11].title}}" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraFull">        
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 2.3 : INSTALACIÓN ELÉCTRICA -->
                <ion-item class="item-divider item-calm">{{menuRight[14].title}}</ion-item>

                <label class="item item-input item-stacked-label">
                    <span class="label ">Características</span>
                    <textarea placeholder="Características" ng-model="data.CaracteristicasSanitarias" rows="10" name="CaracteristicasSanitarias" ></textarea>
                </label>
                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      Situacion del Imueble
                    </div>
                    <select ng-model="data.FK_IdEstadoFisico_Alias_Sanitarias__INFRA" ng-options="c.value for c in data.FK_IdEstadoFisicoSelect" name="FK_IdEstadoFisico_Alias_Sanitarias__INFRA"></select>
                </label>

                <!-- card -->
                <div class="card">   
                    <!-- notas -->
                    <div class="item item-positive item-icon-right item-text-wrap">
                        <i class="icon ion-ios7-information-outline"></i>
                         Estado de la instalación
                    </div>
                    <!--/notas -->  
                    <div class="item item-text-wrap item-stable">
                        <!-- repeat -->
                        <div class="card" ng-repeat="item in [1,2]"> 
                            
                            <a class="item item-stable item-icon-right" href="#">                                
                                <strong>Instalación</strong> : {{item}}
                                <i class="icon ion-ios7-close-outline"></i>
                            </a>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Tipo
                                </div>
                                <select ng-model="data.FK_IdTipoInstalacion" ng-options="c.value for c in data.FK_IdTipoInstalacionSelect" ></select>
                            </label>
                            
                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Condiciones físicas
                                </div>
                                <select ng-model="data.FK_IdEstadoFisico_Alias_Electrica" ng-options="c.value for c in data.FK_IdEstadoFisicoSelect"></select>
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">Observaciones</span>
                                <textarea placeholder="Observaciones" ng-model="data.Observaciones" rows="10" ></textarea>
                            </label>
                        </div> 
                        <!--./repeat -->
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar instalación
                        </button>
                    </div>                    
                </div>
                <!--./card -->

                <ion-toggle toggle-class="toggle-positive" ng-model="data.TieneEquiposRespaldoEnergia">Cuenta con equipos de respaldo de energía</ion-toggle>

                <!-- card 2 -->
                <div class="card">        
                    <!-- notas -->
                    <div class="item item-positive item-icon-right item-text-wrap">
                        <i class="icon ion-ios7-information-outline"></i>
                         Equipos de respaldo de energía
                    </div>
                    <!--/notas -->  
                    <div class="item item-text-wrap item-stable">
                        <!-- repeat -->
                        <div class="card" ng-repeat="item in [1,2,3]"> 
                            
                            <a class="item item-stable item-icon-right" href="#">                                
                                <strong>Equipo de energía</strong> : {{item}}
                                <i class="icon ion-ios7-close-outline"></i>
                            </a>
                            
                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Tipo
                                </div>
                                <select ng-model="data.FK_IdTipoEquipoRespaldo" ng-options="c.value for c in data.FK_IdTipoEquipoRespaldoSelect"></select>
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">Número de equipos</span>
                                <input type="tel" placeholder="Número de equipos" ng-model="data.NumeroEquipos" name="NumeroEquipos">
                            </label>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Marca
                                </div>
                                <select ng-model="data.FK_IdMarca__GRAL" ng-options="c.value for c in data.FK_IdMarcaSelect"></select>
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">Capacidad</span>
                                <input type="tel" placeholder="Capacidad" ng-model="data.Capacidad" name="Capacidad">
                            </label>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Condiciones físicas
                                </div>
                                <select ng-model="data.FK_IdEstadoFisico__INFRA" ng-options="c.value for c in data.FK_IdEstadoFisicoSelect"></select>
                            </label>
                            
                        </div> 
                        <!--./repeat -->
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>                    
                </div>
                <!--./card 2 -->                

                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('a_2_4')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>