<ion-view ng-controller="LevCtrl" title="{{menuRight[11].title}}" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraFull">
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 2.4.4 : CONTROL DE ACCESOS -->
                <ion-item class="item-divider item-calm">{{menuRight[19].title}}</ion-item>

                <!-- card 1 -->
                <div class="card">        
                    <!-- notas -->
                    <div class="item item-positive item-icon-right item-text-wrap">
                        <i class="icon ion-ios7-information-outline"></i>
                         Control de accesos
                    </div>
                    <!--/notas -->  
                    <div class="item item-text-wrap item-stable">
                        <!-- repeat -->
                        <div class="card" ng-repeat="item in [1,2]"> 
                            
                            <a class="item item-stable item-icon-right" href="#">                                
                                <strong>Control de acceso</strong> : {{item}}
                                <i class="icon ion-ios7-close-outline"></i>
                            </a>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Tipo
                                </div>
                                <select ng-model="data.FK_IdTipoControlAcceso__INFRA" ng-options="c.value for c in data.FK_IdTipoControlAccesoSelect"></select>
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">No. de puertas con control de acceso</span>
                                <input type="tel" placeholder="No. de puertas con control de acceso" ng-model="data.NumeroPuertas" name="NumeroPuertas">
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">Arcos de registro</span>
                                <input type="tel" placeholder="Arcos de registro" ng-model="data.ArcosRegistro" name="ArcosRegistro">
                            </label>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Estado físico
                                </div>
                                <select ng-model="data.FK_IdEstadoFisico__INFRA" ng-options="c.value for c in data.FK_IdEstadoFisicoSelect"></select>
                            </label>
                            
                        </div> 
                        <!--./repeat -->
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>                    
                </div>
                <!--./card 1 -->

                
                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('a_2_4_5')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>