<ion-view ng-controller="LevCtrl" title="{{menuRight[11].title}}" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraFull">
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 2.4.5 : PROTECCIÓN CONTRA INCENDIO -->
                <ion-item class="item-divider item-calm">{{menuRight[20].title}}</ion-item>

                <!-- card 1 -->
                <div class="card">        
                    <!-- notas -->
                    <div class="item item-positive item-icon-right item-text-wrap">
                        <i class="icon ion-ios7-information-outline"></i>
                         Sistemas de alarma y detección de humo
                    </div>
                    <!--/notas -->  
                    <div class="item item-text-wrap item-stable">
                        <!-- repeat -->
                        <div class="card" ng-repeat="item in [1,2]"> 
                            
                            <a class="item item-stable item-icon-right" href="#">                                
                                <strong>Sistema</strong> : {{item}}
                                <i class="icon ion-ios7-close-outline"></i>
                            </a>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Tipo
                                </div>
                                <select ng-model="data.PK_IdTipoAlarmaDeteccionHumo" ng-options="c.value for c in data.FK_IdTipoAlarmaDeteccionHumoSelect"></select>
                            </label>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Estado físico
                                </div>
                                <select ng-model="data.FK_IdEstadoFisico__INFRA" ng-options="c.value for c in data.FK_IdEstadoFisicoSelect"></select>
                            </label>
                            
                        </div> 
                        <!--./repeat -->
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>                    
                </div>
                <!--./card 1 -->

                <!-- card 2 -->
                <div class="card">        
                    <!-- notas -->
                    <div class="item item-positive item-icon-right item-text-wrap">
                        <i class="icon ion-ios7-information-outline"></i>
                         Protección contra incendios
                    </div>
                    <!--/notas -->  
                    <div class="item item-text-wrap item-stable">
                        <!-- repeat -->
                        <div class="card" ng-repeat="item in [1,2]"> 
                            
                            <a class="item item-stable item-icon-right" href="#">                                
                                <strong>Equipo</strong> : {{item}}
                                <i class="icon ion-ios7-close-outline"></i>
                            </a>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Tipo
                                </div>
                                <select ng-model="data.FK_IdTipoProteccionContraIncendio" ng-options="c.value for c in data.FK_IdTipoProteccionContraIncendioSelect"></select>
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">Numero de equipos</span>
                                <input type="tel" placeholder="Numero de equipos" ng-model="data.NumeroEquipos" name="NumeroEquipos">
                            </label>

                            <label class="item item-input item-stacked-label">
                                <span class="label ">Capacidad</span>
                                <input type="tel" placeholder="Capacidad" ng-model="data.Capacidad" name="Capacidad">
                            </label>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Unidad de medida
                                </div>
                                <select ng-model="data.FK_IdUnidadMedida" ng-options="c.value for c in data.FK_IdUnidadMedidaSelect"></select>
                            </label>

                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Estado físico
                                </div>
                                <select ng-model="data.FK_IdEstadoFisico__INFRA" ng-options="c.value for c in data.FK_IdEstadoFisicoSelect"></select>
                            </label>
                            
                        </div> 
                        <!--./repeat -->
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>                    
                </div>
                <!--./card 2 -->

                
                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('a_2_4_6')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>