<ion-view ng-controller="LevCtrl" title="{{menuRight[22].title}}" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraFull">
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <div class="list card">
                    <div class="item item-dark item-icon-right">
                    <i class="icon ion-clipboard"></i>
                    {{menuRight[22].title}}</div>
                    <div class="item item-body item-stable">
                    <!-- pendientes:kcho -->
                        <div>
                            <p>Para uso exclusivo de inmuebles donde se ubiquen Servicios Periciales</p>
                        </div>                
                    </div>
                </div>
                <!-- FORM 1 : ANEXO 1 -->
                <div class="card">
                  <div class="item item-calm item-text-wrap">
                    {{menuRight[23].title}}
                  </div>
                </div>
                <!-- card 1-->
                <div class="card">       
                    <ion-item class="item-stable">A.3.1.1 Instalación Eléctrica</ion-item>

                    <ion-toggle toggle-class="toggle-positive" ng-model="data.ElectricaContactosRegulados" name="ElectricaContactosRegulados">Contactos regulados</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.ElectricaTomasCorriente" name="ElectricaTomasCorriente">Tomas de corriente</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.ElectricaIluminacion" name="ElectricaIluminacion">Iluminación</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.ElectricaEmergencia" name="ElectricaEmergencia">Iluminación de emergencia</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.ElectricaCumpleNiveles" name="ElectricaCumpleNiveles">Cumple con los niveles de iluminación</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.ElectricaTableros" name="ElectricaTableros">Tableros automatizados para ahorro de energía</ion-toggle>         
                </div>
                <!--./card 1 -->

                <!-- card 2 -->
                <div class="card">       
                    <ion-item class="item-stable">A.3.1.2 Instalación hidráulica y Sanitaria</ion-item>

                    <ion-toggle toggle-class="toggle-positive" ng-model="data.HidraulicaTomasEmergencia" name="HidraulicaTomasEmergencia">Tomas hidraúlicas de emergencia</ion-toggle>  
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.HidraulicaRegaderas" name="HidraulicaRegaderas">Regaderas</ion-toggle>  
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.HidraulicaLavaojos" name="HidraulicaLavaojos">Lavaojos</ion-toggle>  
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.HidraulicaRecoleccionFluidos" name="HidraulicaRecoleccionFluidos">Sistema de recolección de fluidos</ion-toggle>  
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.HidraulicaTratamientoResiduos" name="HidraulicaTratamientoResiduos">Sistema de tratamiento de residuos (fluidos)</ion-toggle>     
                </div>
                <!--./card 2 -->

                <!-- card 3 -->
                <div class="card">       
                    <ion-item class="item-stable">A.3.1.3 Instalación para detección y supresión de incendio</ion-item>

                    <ion-toggle toggle-class="toggle-positive" ng-model="data.IncendioDeteccion" name="IncendioDeteccion">Detección de incendio</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.IncendioSupresion" name="IncendioSupresion">Sistema de supresión de incendio</ion-toggle>

                </div>
                <!--./card 3 -->

                <!-- card 4 -->
                <div class="card">       
                    <ion-item class="item-stable">A.3.1.4 Instalación de Aire Acondicionado</ion-item>

                    <ion-toggle toggle-class="toggle-positive" ng-model="data.AireAcondicionadoInstalacion" name="AireAcondicionadoInstalacion">Instalación de Aire Acondicionado</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.AireAcondicionadoCortinas" name="AireAcondicionadoCortinas">Cortinas de aire</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.AireAcondicionadoEsclusas" name="AireAcondicionadoEsclusas">Esclusas biológicas</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.AireAcondicionadoPresicion" name="AireAcondicionadoPresicion">Aire de precisión</ion-toggle>

                </div>
                <!--./card 4 -->

                <!-- card 5 -->
                <div class="card">       
                    <ion-item class="item-stable">A.3.1.5 Instalaciones especiales</ion-item>

                    <ion-toggle toggle-class="toggle-positive" ng-model="data.EspecialesHidrogeno" name="EspecialesHidrogeno">Instalación de hidrógeno</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.EspecialesNitrogeno" name="EspecialesNitrogeno">Instalación de nitrógeno cromatográfico</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.EspecialesArgon" name="EspecialesArgon">Instalación de argón</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.EspecialesAirePresion" name="EspecialesAirePresion">Instalación de aire a presión</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.EspecialesHelio" name="EspecialesHelio">Instalación de helio</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.EspecialesNitrogenoLiquido" name="EspecialesNitrogenoLiquido">Instalación de nitrógeno líquido</ion-toggle>

                </div>
                <!--./card 5 -->

                <!-- card 6 -->
                <div class="card">       
                    <ion-item class="item-stable">A.3.1.6 Instalaciones de seguridad</ion-item>

                    <ion-toggle toggle-class="toggle-positive" ng-model="data.SeguridadAccesos" name="SeguridadAccesos">Control de accesos</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.SeguridadArcosDetectoresMetal" name="SeguridadArcosDetectoresMetal">Arcos detectores de metal</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.SeguridadEsclusas" name="SeguridadEsclusas">Esclusas de seguridad</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.SeguridadClavesXOperador" name="SeguridadClavesXOperador">Claves de seguridad por Operador</ion-toggle>
                    <ion-toggle toggle-class="toggle-positive" ng-model="data.SeguridadRegistroDigitalIngreso" name="SeguridadRegistroDigitalIngreso">Registro digital del ingreso y salida del personal operativo</ion-toggle>

                </div>
                <!--./card 6 -->


                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('a_3_2')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>