<ion-view ng-controller="LevCtrl" title="3 Características del Inmueble" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraSimpleCtrl">
        <!-- notas -->
        <div class="list card">
            <div class="item item-positive item-icon-right item-text-wrap">
            <i class="icon ion-ios7-information-outline"></i>
             Se requiere información del personal del área de Recursos Materiales</div>
            
        </div>
        <!--/notas -->
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 3.3 : PLANOS DEL INMUEBLE --> 
                <div class="card">                    
                    <ion-item class="item-divider item-calm">3.3 Planos del Inmueble</ion-item>
                    <div class="item item-text-wrap item-stable">
                        <div class="card"> 
                            <ion-item class="item-divider item-dark">Planos</ion-item> 
                            <ion-toggle toggle-class="toggle-positive" ng-model="data.Digitales" name="Digitales">Digitales</ion-toggle>
                            <ion-toggle toggle-class="toggle-positive" ng-model="data.Fisicos" name="Fisicos">Fisicos</ion-toggle> 
                            <ion-toggle toggle-class="toggle-positive" ng-model="data.CopiaDigital" name="CopiaDigital">Copia digital</ion-toggle>
                            <ion-toggle toggle-class="toggle-positive" ng-model="data.CopiaFisica" name="CopiaFisica">Copia fisica</ion-toggle> 
                            <ion-toggle toggle-class="toggle-positive" ng-model="data.EsParcial" name="EsParcial">Es parcial</ion-toggle>
                            <label class="item item-input item-select item-stacked-label">
                                <div class="input-label">
                                  Tipo de planos
                                </div>
                                <select ng-model="data.FK_IdTipoPlano" ng-options="c.value for c in data.FK_IdTipoPlanoSelect"></select>
                            </label>
                            <label class="item item-input item-stacked-label">
                                <span class="label ">Otros</span>
                                <input type="text" placeholder="En caso de que el tipo sea 'Otros'" ng-model="data.Otros" name="Otros">  
                            </label>  
                            <ion-item class="item-divider item-light">
                            <button class="button button-small button-outline button-positive icon-right ion-eye">Ver detalle</button>
                            <button class="button button-small button-outline button-assertive icon-right ion-close">Borrar Cuerpo</button></ion-item> 
                        </div>  
                    </div>
                    <div class="item item-divider item-stable">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>
                </div>
                              
                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('3_4')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>