<ion-view ng-controller="LevCtrl" title="3 Características del Inmueble" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraSimpleCtrl">
        <!-- notas -->
        <div class="list card">
            <div class="item item-positive item-icon-right item-text-wrap">
            <i class="icon ion-ios7-information-outline"></i>
             Se requiere información del personal del área de Recursos Materiales</div>
            
        </div>
        <!--/notas -->
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 3.4 : OBRA EXTERIOR -->  
                <ion-item class="item-divider item-calm">3.4 Obra exterior</ion-item>
                <ion-toggle toggle-class="toggle-positive" ng-model="data.TieneEstacionamiento" name="TieneEstacionamiento">Estacionamiento</ion-toggle>                
                <ion-item class="item-divider">Tipo</ion-item>
                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      Propiedad
                    </div>
                    <select ng-model="data.FK_IdTipoPropiedadEstacionamiento" ng-options="c.value for c in data.FK_IdTipoPropiedadEstacionamientoSelect" name="FK_IdTipoPropiedadEstacionamiento"></select>
                </label>
                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      Estacionamiento
                    </div>
                    <select ng-model="data.FK_IdTipoEstacionamiento" ng-options="c.value for c in data.FK_IdTipoEstacionamientoSelect" name="FK_IdTipoEstacionamiento"></select>
                </label>

                <ion-item class="item-divider">Capacidad de cajones</ion-item>
                <label class="item item-input item-stacked-label">
                    <span class="label ">Empleados</span>
                    <input type="tel" placeholder="Empleados'" ng-model="data.CapacidadCajonesEmpleados" name="CapacidadCajonesEmpleados">  
                </label> 
                <label class="item item-input item-stacked-label">
                    <span class="label ">Visitas</span>
                    <input type="tel" placeholder="Visitas'" ng-model="data.CapacidadCajonesVisitas" name="CapacidadCajonesVisitas">  
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="label ">Discapacitados</span>
                    <input type="tel" placeholder="Discapacitados'" ng-model="data.CapacidadCajonesDiscapacitados" name="CapacidadCajonesDiscapacitados">  
                </label> 

                <ion-item class="item-divider">Accesos</ion-item>
                <label class="item item-input item-stacked-label">
                    <span class="label ">No. de Accesos</span>
                    <input type="tel" placeholder="No. de Accesos'" ng-model="data.EstacionamientoNumeroAccesos" name="EstacionamientoNumeroAccesos">  
                </label>

                <ion-item class="item-divider">En caso de Estacionamiento rentado</ion-item>           
                <label class="item item-input item-stacked-label">
                    <span class="label ">Vigencia del contrato</span>
                    <input type="date"  ng-model="data.InmuebleVigenciaContrato" name="InmuebleVigenciaContrato">  
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="label ">Precio de la renta</span>
                    <input type="tel" placeholder="Precio de la renta" ng-model="data.InmueblePrecioRenta" name="InmueblePrecioRenta">  
                </label>

                <ion-item class="item-divider">Comentarios</ion-item>           
                <label class="item item-input item-stacked-label">
                    <span class="label ">Comentarios de obra exterior</span>
                    <textarea placeholder="Comentarios de obra exterior" ng-model="data.ComentarioObraExterior" name="ComentarioObraExterior" ></textarea>
                </label>
                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="goPage('3_5')">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>