<ion-view ng-controller="LevCtrl" title="5 Mobiliario" ng-init="data = dataJson">
    <ion-content padding="true" class="has-header" ng-controller="LevInfraInmueble">
        
        <form novalidate name="form">            
            <ion-list class="item-text-wrap">
                <!-- FORM 5 : DATOS DEL MOBILIARIO -->  
                <ion-item class="item-divider item-calm">5.1 Datos del mobiliario</ion-item>
                
                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      El mobiliario es
                    </div>
                    <select ng-model="data.FK_IdTipoMobiliario" ng-options="c.value for c in data.FK_IdTipoMobiliarioSelect" name="FK_IdTipoMobiliario"></select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="label ">Otro</span>
                    <input type="text" placeholder="En caso de que el tipo de mobiliario sea 'Otro'" ng-model="data.OtroMobiliario" name="OtroMobiliario">  
                </label> 

                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      El Mobiliario se sustituye cada
                    </div>
                    <select ng-model="data.FK_IdPeriodoSustitucion" ng-options="c.value for c in data.FK_IdPeriodoSustitucionSelect" name="FK_IdPeriodoSustitucion"></select>
                </label> 
                
                <ion-item class="item-divider item-calm">Año en que se hizo la sustitución mas reciente del mobiliario</ion-item> 

                <ion-item class="item item-stable">
                    <div class="row ">
                        <div class="col item item-dark">
                            Espacio fisico
                        </div>                      
                        <div class="col item item-dark">
                            Año
                        </div>
                    </div>
                    <div class="row " ng-repeat="item in ['2011','2012','2013'] | limitTo:30" style="min-height:60px!important;">
                        <div class="col item">
                            {{item}} Descripcion sd sdsd sd sd sd sd sd larga. 
                        </div>                      
                        <div class="col item item-button-right padding-vertical" >
                            <button class="button button-positive button-clear icon ion-eye"  href="#/pet/{{val.eventId}}"></button>
                            {{item}}
                        </div>
                    </div>
                    <div class="row">
                        <button class="button button-block button-positive icon-left ion-ios7-plus">
                          Agregar
                        </button>
                    </div>
                </ion-item>                 

                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      Estado físico del mobiliario
                    </div>
                    <select ng-model="data.FK_IdEstadoFisicoMobiliario" ng-options="c.value for c in data.FK_IdEstadoFisicoMobiliarioSelect" name="FK_IdEstadoFisicoMobiliario"></select>
                </label>
                
                <label class="item item-input item-select item-stacked-label">
                    <div class="input-label">
                      Funcionalidad del mobiliario
                    </div>
                    <select ng-model="data.FK_IdFuncionalidadMobiliario" ng-options="c.value for c in data.FK_IdFuncionalidadMobiliarioSelect" name="FK_IdFuncionalidadMobiliario"></select>
                </label>

                <ion-item class="item-divider">Observaciones</ion-item>           
                <label class="item item-input item-stacked-label">
                    <span class="label ">Describir situaciones 'especiales': mobiliario en desuso, inservible, dañado, etc.</span>
                    <textarea placeholder="Describir situaciones 'especiales': mobiliario en desuso, inservible, dañado, etc." ng-model="data.Observaciones" name="Observaciones" ></textarea>
                </label>

                <ion-toggle toggle-class="toggle-positive" ng-model="data.ExisteRequerimientoNSJP" name="ExisteRequerimientoNSJP">¿Existe requerimiento de mobiliario, para la implementación del NSJP?</ion-toggle>  

                <label class="item item-input item-stacked-label">
                    <span class="label ">Describa el requerimiento de mobiliario</span>
                    <textarea placeholder="Describa el requerimiento de mobiliario" ng-model="data.DescripcionRequerimientoNSJP" name="DescripcionRequerimientoNSJP" ></textarea>
                </label>
                

                <!-- btn : guardar -->
                <ion-item class="item-divider">
                    <button ng-disabled="form.$invalid" class="button button-balanced button-block" ng-click="saveLev()">Validar</button>
                </ion-item>
                <!--/btn : guardar -->
            </ion-list>
        </form>
    </ion-content>
</ion-view>